body {
    color: black;
    * {
        font-family: 'jost', sans-serif;
    }
} 

.primary-bg {
    background-color: $primary-bg;
}

.has-text-primary-dark {
    color: $primary-dark;
}

.text-center {
    text-align: center;
}

.margin-top-24 {
    margin-top:  60px !important;
}


.offer-item {
    p.ml-5 {
        margin-left: 1.6rem !important;
        margin-top: 5px;
    }
}

.carousel {
    position: relative;
    box-shadow: 0px 4px 30px 10px rgba(18, 151, 248, 0.15);
    .tns-slider {
        display: flex;
    }
    .tns-liveregion {
        display: none;
    }
    .tns-item {
        // height: 300px; // Adjust the height as needed
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: inherit;
        width: 100%;
        padding: 50px;
        padding-top: 0px;
        background: #FFFFFF;
    }
    .tns-nav-active {
        span.icon {
            color: red !important;
        }
    }
    .icon-text {
        flex-wrap: nowrap;
    }
}

.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;

    &-next {
        right: 10px;
    }

    &-prev {
        left: 10px;
    }
}

#customize-thumbnails {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    .button {
        // font-size: 0.8rem;
        margin: auto 10px;
        color: $primary-bg;
        &.tns-nav-active {
            color: $primary;
        }
    }
}

.carousel-container {
    background-image: url('~assets/Intersect.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
}

.input {
    background-color: #F8FCFF;
}


.box {
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px, 20px 20px $primary;
    transition: all .4s ease;
}
.box:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px, 10px 10px $primary;
}


// Responsiveness

@include mobile {
    // Styles applied
    // below $tablet
    .is-hidden-mobile {
        display: none;
    }

    .banner {
        background-position-x: -207px;
    }
}